.small-button > button {
  width: 25%;
  background-color: #d94f00; }
  .small-button > button:hover {
    background-color: #a63c00; }

.small-button {
  display: flex;
  justify-content: space-around; }

.formdistance {
  margin-top: 10%; }

.selectmail {
  background-image: url("../components/BackgroundImage.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

/* Add a black background color to the top navigation */
.topnav {
  background-color: #2f2f2f;
  overflow: hidden; }

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1.1rem 1.2rem;
  text-decoration: none;
  font-size: 1rem; }

.allMails:active,
.allMails:focus {
  outline: none;
  background-color: white;
  color: white; }

@media screen and (max-width: 767px) {
  .formUp {
    margin-top: 5% !important; }
  .buttonwidth {
    width: 46% !important; }
  .GtDiv {
    display: none; }
  .gtlogs {
    width: 4rem !important; } }

@media screen and (min-width: 375px) {
  #mailLogo {
    margin-top: 0.1rem !important; } }

@media screen and (max-width: 320px) {
  .buttons {
    margin-top: -34px !important;
    margin-left: 30px;
    display: inline-block;
    height: 2rem;
    left: 10px; }
  .navigation {
    margin-left: -3rem; }
  .homesf {
    display: none !important; }
  .buttons2 {
    padding-right: 0px; }
  .srmv {
    margin-right: -40px;
    display: none; }
  .deletePad {
    padding: 0 !important; }
  .orange {
    font-size: 0.7rem !important;
    font-weight: 600;
    font-family: Roboto; }
  .loginbut {
    font-size: 0.7rem !important;
    font-weight: 600;
    font-family: Roboto; }
  .titleSize {
    font-size: 1rem; } }

@media screen and (max-width: 450px) {
  .deletePad {
    padding: 0 !important; } }

@media screen and (max-width: 360px) {
  .buttons {
    margin-top: -34px !important;
    margin-left: 30px;
    display: inline-block;
    height: 2rem;
    left: 10px; }
  .navigation {
    margin-left: -3rem; } }

@media screen and (max-width: 375px) {
  .previewImg {
    width: 23rem !important;
    margin-left: -4%; }
  .previewDiv {
    margin: auto; } }

@media screen and (max-width: 280px) {
  .previewImg {
    width: 18rem !important;
    margin-left: -8%; }
  .previewDiv {
    margin: auto; }
  .orange {
    font-size: 0.5rem !important;
    font-weight: 300;
    font-family: Roboto; }
  .loginbut {
    font-size: 0.5rem !important;
    font-weight: 300;
    font-family: Roboto; }
  .titleSize {
    font-size: 0.8rem !important; } }

nav {
  margin: 0;
  background-color: #2f2f2f;
  width: 100vw;
  height: 4rem; }
  nav::after {
    content: "";
    clear: both;
    display: table; }

.navigation {
  list-style: none;
  float: left; }
  .navigation li {
    display: inline-block;
    margin-left: 30px; }
    .navigation li:first-child {
      margin: 0; }
    .navigation li:last-child {
      margin-right: 1rem; }
    .navigation li a:link {
      text-decoration: none;
      color: #eee;
      font-size: 1rem; }

.buttons {
  float: right;
  margin-right: 1rem;
  padding-top: 0.4rem; }
  .buttons input[type="search"] {
    border: 1px solid white;
    border-radius: 3rem;
    background-color: #2f2f2f;
    color: white !important;
    font-size: 1rem; }
    .buttons input[type="search"]:focus {
      outline: none;
      background-color: white;
      color: #2f2f2f !important; }

.btn-main:link, .btn-hot:link {
  display: inline-block;
  padding: 10px;
  text-align: center;
  border-radius: 100px;
  width: 150px;
  text-decoration: none;
  color: #eee; }

.btn-main:link {
  background-color: #f08a5d; }

.btn-main:hover {
  background-color: #ea5717; }

.btn-hot:link {
  background-color: #b83b5e; }

.btn-hot:hover {
  background-color: #912f4a; }

.input-group-addon {
  color: #d94f00;
  background-color: #ffffff; }

.navigation2 {
  list-style: none;
  float: right; }
  .navigation2 li {
    display: inline-block;
    margin-left: 30px; }
    .navigation2 li:first-child {
      margin: 0; }
    .navigation2 li:last-child {
      margin-right: 1rem; }
    .navigation2 li a:link {
      text-decoration: none;
      color: #eee;
      font-size: 1rem; }

@media screen and (min-width: 768px) {
  .buttonwidth {
    width: 120% !important; }
  .logoTop {
    margin-left: 87% !important;
    margin-top: 1%; }
  .reloadPg:hover {
    color: #a63c00 !important; } }

.orange:hover {
  background-color: black !important; }

a:hover {
  color: #a63c00 !important; }

.srmv:focus {
  border: 1px solid #d94f00 !important; }

.innerworks:focus {
  border: 1px solid #d94f00 !important;
  outline: 0 !important; }

.homeRed {
  color: #d94f00 !important; }

@media screen and (max-width: 768px) {
  .titleSize {
    font-size: 0.7rem; } }

body {
  margin: 0;
  font-family: "Roboto" !important;
  font-size: 22px !important; }

html {
  font-size: 81.3%; }

#newstyle {
  /* border: 1px solid black; */ }

.shift {
  display: none; }

#newstyle2 {
  margin-top: -20px;
  background-color: white; }

.formsignup {
  margin-top: 35%;
  padding: 20px 25px 25px 25px;
  font-size: small; }

.robot {
  font-family: "Roboto" !important;
  font-weight: 500; }

.background {
  background-image: url("../components/coffee.png");
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
  /* position: absolute; */
  top: 0;
  left: 0;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.background2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0px;
  background-repeat: no-repeat;
  background-size: cover; }

.toggless {
  /* box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19); */
  border: 1px solid white !important;
  align-self: flex-end; }

.white {
  border: 1px solid #ca4d05 !important;
  background-color: white !important;
  color: rgba(188, 72, 4, 0.945) !important;
  width: 45%; }

.loginbut {
  border: 1px solid #ca4d05 !important;
  background-color: #eeeeee !important;
  color: rgba(188, 72, 4, 0.945) !important;
  width: 45%; }

.orange {
  border: 1px solid #ca4d05 !important;
  background: linear-gradient(rgba(169, 65, 4, 0.945), #d94f00) !important;
  color: white !important;
  width: 45%; }

.borderss {
  border-color: rgba(233, 92, 10, 0.918) !important; }

.borderNone {
  border-top: 0; }

.borderss:focus,
.borderss:active {
  outline: none !important;
  box-shadow: none !important; }

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important; }

.hideme {
  display: none;
  transition: all 0.2s; }

.transmove {
  animation-name: reappear;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

@keyframes reappear {
  0% {
    opacity: 0; }
  60% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
